<!DOCTYPE HTML>
<html>
<head>
    <title>게시글 수정</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    {{>layout/header}}
    <h1>스프링 부트로 시작하는 웹 서비스 Ver.2</h1>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">글번호</label>
        <input type="text" id="id" class="form-control" placeholder="" value="{{posts.id}}">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">제목</label>
        <input type="text" id="title" class="form-control" placeholder="" value="{{posts.title}}">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">작성자</label>
        <input type="text" id="author" class="form-control" placeholder="" value="{{posts.author}}">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">내용</label>
        <textarea class="form-control" id="content" rows="3">{{posts.content}}</textarea>
    </div>
    <button type="button" class="btn btn-primary" onclick="location.href='/'">취소</button>
    <button type="button" class="btn btn-secondary" id="btn-update">수정 완료</button>
    <button type="button" class="btn btn-secondary" id="btn-delete">삭제</button>
    {{>layout/footer}}
</body>
</html>